.wrapper{
    width: 100%;
}
.wrapper-content{
    width: 1100px;   
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    column-gap: 15px;
    margin: 0 auto;
}
.wrapper-text{
    display: flex;
    flex-direction: column;
}
.wrapper-payment{
    display: block;
}
.wrapper-payment img + img{
    margin-left: 20px;
    margin-top: 10px;
}
.img-footer{
    margin-top: 15px;
}
.footer-bottom{
    margin-top: 60px;
    background-color: #F8F8F8;
    padding: 20px 0px 80px 0px;
}
.text-footer{
    margin-top: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

/* css text */
.text-content{
    font-size: 12px;
    color: #444444;
    line-height: 25px;
    font-weight: 400;
    cursor: pointer;
}
.red{
    color: red;
    font-weight: 500;
}

.xl{
    color: #444444;
    font-size: 16px;
    margin: 5px 0px;
}
